<header role="banner" class="oj-sm-flex-initial vb-web-applayout-header oj-sm-only-hide oj-bg-neutral-170"
  style="display:none;">
  <div class="oj-flex-bar oj-sm-align-items-center vb-web-applayout-header-content">
    <!-- Navigator toggle button -->
   
   

    <!-- Company logo and application title only displayed in desktop mode -->
    <div class="oj-flex-item oj-sm-flex-initial oj-sm-align-self-center">
      <img :src="[[ $application.path + 'resources/images/logo.png' ]]">
      
    </div>
     <div class="oj-flex-item oj-sm-flex-initial oj-sm-align-self-center">
     
      <img :src="[[ $application.path + 'resources/images/mainlogo.png' ]]">
    </div>
    <div class="oj-flex-bar-middle oj-sm-margin-4x-horizontal oj-sm-align-items-center">
      <!-- Please Change the following for company specific logo   -->
      
      <h1 class="oj-typography-body-md oj-typography-semi-bold" title="Application Name"></h1>
    </div>

    <!-- Global toolbar only displayed in desktop form-factor --> 
   
  </div>
</header>

