<div class="oj-contrast-marker vb-nav-drawer">
  <oj-vb-fragment id="shell-header" bridge="[[vbBridge]]" name="shell-header-nav">
    </oj-vb-fragment>
  <oj-button
    class="oj-md-hide vb-nav-drawer-close-button oj-sm-float-end oj-sm-margin-3x-top"
    display="icons"
    chroming="borderless"
    on-oj-action="[[$fragment.functions.closeDrawer]]">
    <span slot="startIcon" class="oj-ux-ico-close"></span>
      <oj-bind-text value="Close"></oj-bind-text>
  </oj-button>
  <div class="oj-md-hide oj-flex oj-sm-flex-direction-column oj-sm-flex-wrap-nowrap oj-sm-align-items-center oj-sm-margin-6x-vertical">
    <oj-avatar id="drawer-avatar" role="img"  icon-class="oj-ux-ico-contact" size="md" background="orange"
               :aria-label="[[ $application.user.fullName ]]" :title="[[ $application.user.fullName ]]">
    </oj-avatar>
    <div class="oj-typography-body-lg">
      <oj-bind-text value="[[ $application.user.fullName ]]"></oj-bind-text>
    </div>
  </div>
  <oj-navigation-list  edge="start" on-click="[[$application.responsive.smOnly ? $fragment.functions.closeDrawer : undefined]]"
                       on-selection-changed="[[$listeners.onNavigation]]" data="[[ $application.variables.navigationADP ]]"
                       selection="{{ $variables.currentFlow }}">
    <template slot="itemTemplate">
      <!-- Template for rendering navigation items -->
      <li>
        <a href="#">
          <span :class="[['oj-navigationlist-item-icon oj-typography-body-md oj-sm-padding-3x-horizontal ' + $current.data.iconClass]]"></span>
          <oj-bind-text value="[[$current.data.name]]"></oj-bind-text>
        </a>
      </li>
    </template>
  </oj-navigation-list>

  <hr class="oj-md-hide">
  <!-- Global header toolbar items moved to the offcanvas for phones -->
  <oj-navigation-list class="oj-md-hide" edge="start" on-click="[[$fragment.functions.closeDrawer]]">
    <ul>
      <oj-bind-for-each data="[[ $application.variables.globalHeadersData ]]">
        <template>
          <li>
            <oj-button chroming="borderless" class="oj-sm-flex-0">
              <span :class="[[ 'oj-navigationlist-item-icon oj-typography-body-md ' + $current.data.iconClass ]]" slot="startIcon"></span>
              <oj-bind-text value="[[ $current.data.name ]]"></oj-bind-text>
            </oj-button>
          </li>
        </template>
      </oj-bind-for-each>
    </ul>
  </oj-navigation-list>

  <hr class="oj-md-hide">
  <!-- Avatar menu items moved to the offcanvas for phones -->
  <oj-navigation-list class="oj-md-hide" edge="start" on-click="[[$fragment.functions.closeDrawer]]">
    <ul>
      <oj-bind-for-each data="[[$application.variables.avatarItems]]">
        <template>
          <li>
            <oj-button chroming="borderless" class="oj-sm-flex-0">
              <span :class="[[ 'oj-navigationlist-item-icon oj-typography-body-md ' + $current.data.iconClass ]]" slot="startIcon"></span>
              <oj-bind-text value="[[ $current.data.name ]]"></oj-bind-text>
            </oj-button>
          </li>
        </template>
      </oj-bind-for-each>
    </ul>
  </oj-navigation-list>
</div>